body.dark-theme {
  --background: #161616;
  --background-secondary: #3b3d42;
  --header: #121212;
  --color: #a9a9b3;
  --color-secondary: #73747b;
  --border-color: #4a4b50;
}

.logo__cursor {
  display: inline-block;
  width: 10px;
  height: 1rem;
  background: #2cb67d;
  margin-left: 5px;
  border-radius: 1px;
  -webkit-animation: cursor 1s infinite;
  animation: cursor 1s infinite;
}

.post-cover {
  margin: 20px 0;
  width: 100%;
}
